@import "variable";
@import "mixin";

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: 1px solid $borderColor;
    padding: 20px;
    border-radius: 6px;

    &:hover{
        box-shadow: 0px 0px 5px #525252;
    }

    @include media(400){
        flex-direction: column;
        gap: 20px;
    }

    .productImg{
        height: 110px;

        @include media(768){
            height: 80px;
        }

        @include media(576){
            height: 50px;
        }

        @include media(400){
            // height: 140px;
            width: 120px;
            height: auto;
        }
    }

    .info{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .title{
        color: $primaryColor;

        @include media(768){
            font-size: 16px;
        }

        @include media(576){
            font-size: 14px;
        }

        @include media(400){
            font-size: 18px;
        }
    }

    .price{
        color: $greenBtn;
        font-weight: bold;

        @include media(576){
            font-size: 14px;
        }

        @include media(400){
            font-size: 16px;
        }
    }

    .quantity{
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: orange;
        border-radius: 4px;

        @include media(576){
            width: 20px;
            height: 20px;
            font-size: 12px;
        }

        @include media(400){
            width: 32px;
            height: 32px;
            font-size: 16px;
        }

        span{
            font-weight: bold;
            color: #fff;
        }
    }

    .buttons{
        display: flex;
        gap: 6px;
    }

    button{
        width: 32px;
        height: 32px;
        font-size: 24px;
        font-weight: bolder;
        border: none;
        border-radius: 4px;
        background-color: $primaryColor;
        color: #fff;
        cursor: pointer; 

        @include media(576){
            width: 20px;
            height: 20px;
            font-size: 14px;
        }

        @include media(400){
            width: 32px;
            height: 32px;
            font-size: 24px;
        }
    }

    .trash{
        width: 20px;

        @include media(576){
            width: 12px;
        }

        @include media(400){
            width: 20px;
        }
    }
}